@import '@mantine/core/styles.css';
@layer tailwind {
  @tailwind base;
}
@tailwind base;
@tailwind components;
@tailwind utilities;



/* body {
  @apply font-outfit;
} */

.font-outfit{
font-family: var(--font-outfit);
}



.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  


